# Application
PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=votre_mot_de_passe_robuste
DATABASE_NAME=hai_radio

# JWT (JSON Web Token)
JWT_SECRET=remplacez_par_une_cle_securisee_aleatoire_32_caracteres
JWT_EXPIRES_IN=7d

# CORS (Autorisations d'accès)
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174

# Radio
RADIO_STREAM_URL=https://hai-radio.mg
